html,body{
    background-image: url('../../assets/Images/back1.jpeg');
    background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
}
.error{
    color:red;
}
li{
    font-weight: bold;
    font-size: x-large;
    color:grey;
}
p{
    font-size: xx-large;
    font-weight: bold;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #fff;
    font-size:xx-large;
}
.login-form-2{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    font-size: large;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
    font-size:xx-large;
}
.login-container form{
    padding: 10%;
    font-size:large;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
}
.login-form-1 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
}
footer{ 
    position:absolute; 
    bottom:0; 
     color:#000; 
     text-align: center;
    
     font-size: small;
     right:45%;
  }
