<!DOCTYPE html>
<html>
<head><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <p class="navbar-brand"><img src="../../assets/Images/ICON.gif" width="50" height="50" class="d-inline-block align-top" alt="">ONLINE LIBRARY</p>
            <ul class="nav">
              <li ><a routerLink="**">HOME</a></li>
              <li><a >LOGIN</a></li>
             <li><a  routerLink="libpage/viewbook">BOOK DETAILS</a></li>
              <li><a routerLink="aboutus" >ABOUT US</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login as Admin</h3>
                    <form [formGroup]="loginForm" autocomplete="off">
                        <div class="form-group">
                            <input type="text"  class="form-control" formControlName="adminuser" placeholder="Username *" name="user"   required  />
                            <span class="error" *ngIf="loginForm.controls['adminuser'].errors?.required && loginForm.controls['adminuser'].touched" >UserName is Required</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="adminpass" placeholder="Your Password *" name="pass"  />
                            <span class="error" *ngIf="loginForm.controls['adminpass'].errors?.required && loginForm.controls['adminpass'].touched" >Password is Required</span>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btnSubmit" value="Login" (click)="adminLogin()" />

                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Login As Librarian</h3>
                    <form [formGroup]="loginForm" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="libuser" placeholder="Username(Email) *" />
                            <span class="error" *ngIf="loginForm.controls['libuser'].errors?.required && loginForm.controls['libuser'].touched" >UserName is Required</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control"  formControlName="libpass"placeholder="Your Password *" />
                            <span class="error" *ngIf="loginForm.controls['libpass'].errors?.required && loginForm.controls['libpass'].touched" >Password is Required</span>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btnSubmit" value="Login"  (click)="LibLogin()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>Copyright © DLHS

        </footer>
    </body>
</html>
